@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
    font-family: sans-serif;
    background-color:  hsl(216, 12%, 8%);
    font-size: 15px;
    margin: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    font-family: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
p{
    line-height: 1.8rem;
    color:  hsl(217, 12%, 63%);
    padding-bottom: 1rem;
}
.main-container, .thank-you{
    background-color: hsl(213, 19%, 18%);
    border-radius: 0.625rem;
    padding: 1.5rem;
    max-width: 400px;
}
.main-container img{
    background-color: hsla(215, 6%, 39%, 0.418);
    border-radius: 50%;
    padding: 0.5rem;
}
.main-container h1{
    color: #fff;
    padding: 1rem 0;
}
.main-container ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.main-container ul li button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: hsla(215, 6%, 39%, 0.418);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.main-container ul li button:hover{
    background-color: hsl(25, 97%, 53%);
}
.main-container ul li button:focus{
    background-color: hsl(217, 12%, 63%);
}
.btn-submit{
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: 0.3s;
    text-transform: uppercase;
}
.btn-submit:hover{
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}
.thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.thank-you img{
    display: block;
    margin: 0 auto 2rem;
}
.selected{
    background-color: hsla(215, 6%, 39%, 0.418);
    color: hsl(25, 97%, 53%);
    border-radius: 9999px;
    padding: 0 15px;
}
.thank-you h2{
    color: #fff;
    margin-top: 1rem;
}
.hidden{
    display: none;
}

.attribution {
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
